* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}
p {
    
    font-size: 14px;
}

/* ============= Generic CSS ============== */

.section-title {
    padding-top: 90px;
    padding-bottom: 50px;
    
}
.section-title h2 {
    position: relative;
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.section-title h2:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 60px;
    height: 1px;
    background-color: #129CF3;
    margin-left: -30px;
}


.section-title p {
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 45px;
}

/* =========== Navigation ============ */

.navbar-default {
    background-color: var(--primary-color);
    border-color: rgb(49, 122, 190);
    z-index: 110;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-default .navbar-nav > li > a {
    color: var(--secondary-color);
    font-family: "Raleway", sans-serif;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    
}
.navbar-default .navbar-nav > li > a:hover {
    color: #129CF3;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #B5B5B5;
}
.navbar-brand {
    padding: 9px 15px;
}
.navbar-brand img  {
     transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-default .navbar-nav > .active>a, 
.navbar-default .navbar-nav > .active>a:hover,
.navbar-default .navbar-nav > .active>a:focus {
    background-color: transparent;
    color: #129CF3;
} 



/* =========== Header ============ */
.header {
    background-image: url("../images/header-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;    
}
.header-overlay {
    background-color: rgba(31, 31, 31, 0.75);
}
.logo {
    padding-bottom: 50px;
}
.header-text h1 {
    color: #fff;
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    padding-top: 30px;
    text-transform: uppercase;

}
.header-text p {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
}
.header-btns {
    margin-top: 90px;
    margin-bottom: 50px;
}

.btn-download,
.btn-download:focus,
.btn-download:active,
.btn-download:visited
{
    
    background: transparent;
    border-color: #129CF3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
     -o-transition: all 1s;
}
.btn-download:hover {
    background-color: #129CF3;
    color: #fff;    
}
.btn-tour,
.btn-tour:focus,
.btn-tour:active,
.btn-tour:visited {
    color: #A9ADB0;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
    background: transparent;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
     -o-transition: all 1s;
    
}
.btn-tour:hover {
    color: #fff;
}
.btn-tour i {
    font-size: 20px;
    padding-left: 5px;
    color: #129CF3;
}

.header-iphone img {
    width: 100%;   
}

/* ========= About Us ============= */
.choose-us-wraper {

    padding-top: 50px;
}

.about-iphone img {
 margin-top: 8px;    
}
.choose-us-title {
    padding-bottom: 50px;
    
    
}
.choose-us-title h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    position: relative;
}
.choose-us-title h2:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 70px; 
    height: 1px;
    background-color: #129CF3;
}

.choose-us-title p {
    margin-top: 40px;
    font-size: 19px;
    line-height: 24px;
    font-family: Georgia, serif;
}

.choose-us-item {
    position: relative;
    padding-bottom: 4px;
    padding-left: 80px;
}
.choose-us-item div {
    position: absolute;
    top: 0;
    left: 0;
}
.choose-us-item div i {
    font-size: 55px;
    color: #129CF3;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
}
.choose-us-item h3 {
 color: #343434;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}

.choose-us-item p {
    color: #727272;
    font-size: 15px;
    font-family: Georgia, serif;
} 
/* ========= Testimonials ============= */
.testimonial {
    background-image: url("../images/testimonial-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 50%;
}
.testimonial-overlay {
    background-color: rgba(31, 31, 31, .75);
    padding-top: 80px;
    padding-bottom: 80px;
}
.carousel-indicators {
    bottom: -10px;
}
.carousel-inner .item img {
    border: 2px solid #129CF3;
    border-radius: 50%;
    padding: 3px;
}
.testimonial-caption {
    padding-bottom: 70px;
}
.testimonial-caption h2 {
    color: #129CF3;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    margin-top: 25px;
    
}
.testimonial-caption h4 {
    color: #129CF3;
}

.testimonial-caption h4 span {
    
    color: #D8D8D8;
    font-style: italic;
    font-weight: 300;
    
}

.testimonial-caption p {
    color: #D8D8D8;
    font-size: 18px;
    line-height: 27px;
    padding-top: 50px;
}
/* ========= Features ============= */
.features-inner-wrapper {
    
    padding-top: 30px;
    padding-bottom: 70px;
}
.left-feature-item {
    position: relative;
    padding-right: 90px;
    margin-bottom: 65px;
    text-align: right;
    margin-top: 35px;
}
.left-feature-item-icon {
    position: absolute;
    right: 0;
    top: -8px;
    font-size: 40px;
    color: #129CF3;
    width: 90px;
    height: 90px;
    text-align: center;
    
}
.left-feature-item h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 21px;
    color: #333;
}
.left-feature-item p {
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
.feature-iphone img {
    width: 100%;
}
.right-feature-item {
    position: relative;
    padding-left: 90px;
    margin-bottom: 65px;
    margin-top: 35px;
    text-align: left;
}
.right-feature-item-icon {
    position: absolute;
    left: 0;
    top: -8px;
    font-size: 40px;
    color: #129CF3;
    width: 90px;
    height: 90px;
    text-align: center;
    
}
.right-feature-item h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 21px;
    color: #333;
    
    
}
.right-feature-item p {
 
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

/* ========= Purchase Now ============= */
.purchase-now {
    background-color: #1a1a1a;
    padding-top: 100px;
    padding-bottom: 100px;
}
.purchase-now p {
    color: #dfdfdf;
    font-size: 18px;
    font-weight: 300;
}
.btn-pruchase-now,
.btn-pruchase-now:active,
.btn-pruchase-now:focus,
.btn-pruchase-now:visited 
{
    background-color: #129CF3;
    border: 1px solid #129CF3;
    color: #fff;
    border-radius: 3px;
    padding: 15px 35px;
    text-transform: uppercase;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    
    
}

.btn-pruchase-now:hover {
    background-color: #1274B1;
    border-color: #316B90;
}

/* ========= Counter ============= */
.counter {
    background-image: url("../images/counter-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 50%;
}
.counter-overlay {
    padding-top: 120px;
    padding-bottom: 120px;
    background: rgba(0, 0, 0, .4);
}
.counter-item i {
    color: #129CF3;
    font-size: 60px;
}
.counter-item h2 {
    font-family: "Source Sans Pro", sans-serif;
    color: #D7DADB;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 1px;
}
.counter-item p {
    color: #D7DADB;
    font-size: 20px;
    margin-top: 0px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
}


/* ========= Download Now ============= */
.download-now img {
    width: 100%;
}
.available-on {
    
    background-color: #1a1a1a;
    margin-top: -8px;
    position: relative;
}
.available-title {
    padding-top: 75px;
}
.available-title h2 {
    
    color: #fff;
    font-size: 30px;
}
.available-title p {
    color: #B5B5B5;
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.available-on-item {
    text-align: center;
    border-left: 1px solid #0F1217;
    min-height: 230px;
    padding-bottom: 15px;
    position: relative;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    
}
.available-on-item:hover {
    background-color: #121212;
}
.available-on-item i {
    color: #129CF3;
    text-align: center;
    opacity: 1;
    font-size: 40px;
    padding-top: 90px;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

.available-on-item:hover i {
    opacity: 0;
}
.available-on-inner {
    position: absolute;
    bottom: 93px;
    width: 100%;
    opacity: 0;
     transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.available-on-inner h2 {
    text-align: center;
    font-weight:  300;
    color: #D7DADB;
    font-size: 16px;
}

.available-on-item:hover div.available-on-inner {
    opacity: 1;
}
/* ========= Contact Us ============= */
.contact-us-form .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 21px;
    color: #555;
    background-color: transparent;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    margin-bottom: 15px;
    opacity: .8;
    outline: 0px !important;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    
}
#message {
    height: 117px;
    resize: none;
}
.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
    
    background-color: transparent;
    border: 1px solid #129CF3;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: #129CF3;
    outline: 0px !important;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.submit-btn:hover {
    background: #129CF3;
    color: #fff;
    border-color: #129CF3;
}
.social-icons {
    padding-top: 50px;
    padding-bottom: 70px;
    
}
.social-icons ul {
    margin:0;
    padding: 0;
    text-align: center;
    
}
.social-icons ul li { 
    list-style: none;
    display: inline;
    padding-left: 10px;
}

.social-icons ul li a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    width: 45px;
    height: 45px;
    line-height: 49px;
    color: #9d9d9d;
     transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    
}
.social-icons ul li a:hover {
    
    background-color: #129CF3;
    border: 1px solid #129CF3;
    color: #fff;
} 
.social-icons ul li a i {
    font-size: 20px;
}


/* ========= Footer ============= */
.footer {
    background-color: #1a1a1a;
    padding-bottom: 35px;
    padding-top: 35px;
    border-bottom: 3px solid #129CF3;
}
#copyright {
    width: 50%;
}
#copyright p {
    color: #8C8B8A;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}
#copyright p a {
    text-decoration: none;
    color: #129CF3;
}
.scroll-top {
    text-align: right;
}
.scroll-top a {
    background-color: #129CF3;
    padding: 25px;
}
.scroll-top a i {
    color: #fff;
    font-size: 25px;
}

:root{
    --primary-color:#fff;
    --secondary-color: rgb(0, 0, 0);
  }
  
  .dark__mode{
    --primary-color:#000;
    --secondary-color: #fff;
  }
  .moon, .sun{
    margin-top: 13.5px;
    float: left;
  }
  button{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
    margin-left: 25px;
  }
  .show{
    display:inline;
  }
  .hide{
    display: none;
  }
  .sun{
    color: #fff;
  }
  .moon{
      color: rgb(54, 50, 50);
  }
  

/* colorchanger */
.wrapper{
    margin: 50px auto 0 auto;
    position: relative;
    height: 600px;
    width: 620px;
    overflow: hidden;
    background: #fff;
    border: 7px solid #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
  }
  .wrapper .images{
    height: 100%;
    width: 100%;
    display: flex;
  }
  .wrapper .images .img-1{
    height: 100%;
    width: 100%;
    background: url("../images/normal.jpg") no-repeat;
    
  }
  .wrapper .images .img-2{
    position: absolute;
    height: 100%;
    width: 50%;
    background: url("../images/modified.jpg") no-repeat;
  }
  .wrapper .slider{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  .wrapper .slider input{
    width: 100%;
    outline: none;
    background: none;
    -webkit-appearance: none;
  }
  .slider input::-webkit-slider-thumb{
    height: 486px;
    width: 3px;
    background: none;
    -webkit-appearance: none;
    cursor: col-resize;
  }
  .slider .drag-line{
    width: 3px;
    height: 486px;
    position: absolute;
    left: 49.85%;
    pointer-events: none;
  }
  .slider .drag-line::before,
  .slider .drag-line::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 222px;
    background: #fff;
  }
  .slider .drag-line::before{
    top: 0;
  }
  .slider .drag-line::after{
    bottom: 0;
  }
  .slider .drag-line span{
    height: 42px;
    width: 42px;
    border: 3px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .slider .drag-line span::before,
  .slider .drag-line span::after{
    position: absolute;
    content: "";
    top: 50%;
    border: 10px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .slider .drag-line span::before{
    left: 40%;
    border-left-color: #fff;
  }
  .slider .drag-line span::after{
    left: 60%;
    border-top-color: #fff;
  }
   /*hover effects*/
   .hover:hover{
       transform: scale(1.01, 1.01);
   }

/* Not found page */

@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
/*Variables*/
.left-section .inner-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#0C0E10, #446182);
}
.background .ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25vh;
  background: #0C0E10;
}
@media (max-width: 770px) {
  .background .ground {
    height: 0vh;
  }
}

.containerr {
  font-family: "Fira Sans", sans-serif;
  color: #f5f6fa;
  position: relative;
  margin: 0 auto;
  width: 85%;
  height: 100vh;
  padding-bottom: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 770px) {
  .containerr {
    flex-direction: column;
    padding-bottom: 0vh;
  }
}

.left-section, .right-section {
  position: relative;
}

.left-section {
  width: 40%;
}
@media (max-width: 770px) {
  .left-section {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0;
  }
}
@media (max-width: 770px) {
  .left-section .inner-content {
    position: relative;
    padding: 1rem 0;
  }
}

.heading {
  text-align: center;
  font-size: 9em;
  line-height: 1.3em;
  margin: 2rem 0 0.5rem 0;
  padding: 0;
  text-shadow: 0 0 1rem #fefefe;
}
@media (max-width: 770px) {
  .heading {
    font-size: 7em;
    line-height: 1.15;
    margin: 0;
  }
}

.subheading {
  text-align: center;
  max-width: 480px;
  font-size: 1.5em;
  line-height: 1.15em;
  padding: 0 1rem;
  margin: 0 auto;
}
@media (max-width: 770px) {
  .subheading {
    font-size: 1.3em;
    line-height: 1.15;
    max-width: 100%;
  }
}

.right-section {
  width: 50%;
}
@media (max-width: 770px) {
  .right-section {
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
  }
}

.svgimg {
  position: absolute;
  bottom: 0;
  padding-top: 10vh;
  padding-left: 1vh;
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 770px) {
  .svgimg {
    padding: 0;
  }
}
.svgimg .bench-legs {
  fill: #0C0E10;
}
.svgimg .top-bench, .svgimg .bottom-bench {
  stroke: #0C0E10;
  stroke-width: 1px;
  fill: #5B3E2B;
}
.svgimg .bottom-bench path:nth-child(1) {
  fill: #432d20;
}
.svgimg .lamp-details {
  fill: #202425;
}
.svgimg .lamp-accent {
  fill: #2c3133;
}
.svgimg .lamp-bottom {
  fill: linear-gradient(#202425, #0C0E10);
}
.svgimg .lamp-light {
  fill: #EFEFEF;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 1rem #fefefe;
  }
  50% {
    text-shadow: 0 0 1.85rem #ededed;
  }
  100% {
    text-shadow: 0 0 1rem #fefefe;
  }
}

/* GAME CSS */

.game{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url('../assetsGame/photo1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 115% ;
  }
  #ground{
  width: 100%;
  height: 100px;
  background-color: green;
  position: absolute;
  bottom: 0;
  }
  
  #character{
  width: 50px;
  height: 50px;
  background-color:rgb(0, 0, 0);
  border-radius: 50%;
  position: absolute;
  bottom: 17%;
  right: calc(100% - 100px);
  box-shadow: 0px 0px 20px 3px #f2f5f0;
  }
  .characterBoom{
    background-color:#f47c04da !important;
    box-shadow: 50px 0px 200px 10px #f47c04da !important;
    width: 40px !important;
  height: 40px !important;
  margin: 0 auto;
  background-color: red;
  animation-name: charcterAnimate;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: initial;
  animation-fill-mode: none;
  animation-play-state: running;

  }
  
  @keyframes charcterAnimate {
    0% {
      transform: scale(2.5);
      background-color: red;
      border-radius: 100%;
      
    }
    50% {
      background-color: orange;
    }
    100% {
      transform: scale(.200);
      background-color: blue;
      
    }
  }


  .obstacle{
  width: 30px;
  height: 100px;
  background-color: black;
  position: absolute;
  bottom: 10%;
  right: 0;
  }
  
  h2{
  font-family:sans-serif;
  margin-top:10px;
  margin-left:10px;
  
  }
  
  .audio{
      width: 100px;
      height: 20px;
  }
  .containeri{
   /* border: 2px solid black; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: -70px auto;
   width: 500px;
   /* width: calc(100% - 75%); */
   height: 500px;
   /* height: calc(100% - 50%);; */
   overflow: hidden; 
  }
  
  
  
  #animate{
      width: auto;
      height: 50px;
      position: relative;
      animation-name: example;
      animation-duration: 5s;
      animation-direction: reverse;  
    }
    
    @keyframes example {
      0%   { left:0px; top:0px;}
      25%  { left:500px; top:0px;}
      100% { left:0px; top:0px;}
    }
  
    #animate2{
      width: auto;
      height: 50px;
      position: relative;
      animation-name: example2;
      animation-duration: 5s;
      animation-direction: reverse;  
    }
    
    @keyframes example2 {
      0%   { right:0px; top:0px;}
      25%  { right:500px; top:0px;}
      100% { right:0px; top:0px;}
    }
    


    /* Under Construction */
    .bgimg {
      /* Background image */
      /* Full-screen */
      /* Center the background image */
      background-position: center;
      /* Scale and zoom in the image */
      background-size: cover;
      /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
      position: relative;
      /* Add a white text color to all elements inside the .bgimg container */
      color: black;
      /* Add a font */
      font-family: "Courier New", Courier, monospace;
      /* Set the font-size to 25 pixels */
      font-size: 25px;
    }
    
    /* Position text in the top-left corner */
    .topleft {
      position: absolute;
      top: 0;
      left: 16px;
    }
    
    /* Position text in the bottom-left corner */
    .bottomleft {
      position: absolute;
      bottom: 0;
      left: 16px;
    }
    
    /* Position text in the middle */
    .middle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    
    /* Style the <hr> element */
    hr {
      margin: auto;
      width: 40%;
    }












































